<!DOCTYPE html>
<html>
<body>
<h1>Socket.io Chatterbox</h1>
<!-- <div id="status" class="border">Disconnected</div> -->
<form id="login">
  <label for="login-input">Login:</label>
  <input id="login-input">
</form>
<form id="msg">
  <label for="message">Message</label>
  <input id="message">
</form>
<div id='response'>
  
</div>
</body>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}socket.io.js"></script>
<script>WEB_SOCKET_SWF_LOCATION="{{ STATIC_URL }}flashsocket/WebSocketMain.swf";</script>
<script type="text/javascript" src="/static/chat.js">

</script>

</html>